
{% comment %}
Adds support to dtaware datepicker
Can be used with only
Parameters:
    - dtaware_id
    -timezone
{% endcomment %}

<script type="text/javascript">
    function calculate(dtp){
        var dtaware=moment.tz(input.value, select.value);
        var date=dtaware.format("YYYY-MM-DD HH:mm:ss");
        var tz=dtaware.format("Z");
        dtp.value=date.concat(".")+inputms.value + tz;

    }

    var dtp=document.getElementById('{{dtaware_id}}');
    dtp.style.display="flex";

    //Parse string datetime
    var spl=dtp.value.split(".");
    console.log(spl);
    if (spl.length==0){//Without ms 
        var dt=dtp.value.substring(0,18);
        var ms=0;
    }
    else {
        var dt=spl[0];
        var ms=spl[1].split("+")[0];        
    }
    
    
    var div=document.createElement("div")
    div.style.display="flex";
    var button=document.createElement("button");
    button.setAttribute("type","button");
    button.innerHTML=">";
    var input=document.createElement("input");
    input.value=dt;
    var inputms=document.createElement("input")
    inputms.value=ms;
    var select=document.createElement("select"); 
    for (let zone of moment.tz.names()) {
        select.innerHTML=select.innerHTML.concat(`<option value="${zone}">${zone}</option>`);
    }
    select.value="{{timezone}}";
    input.style.visibility ="hidden";
    inputms.style.visibility="hidden";
    select.style.visibility="hidden";
    select.addEventListener('change', (event) => {
        calculate(dtp);
    });
    input.addEventListener('change', (event) => {
        calculate(dtp);
    });
    button.addEventListener("click", function() {
        if (input.style.visibility=="hidden"){
            dtp.style.visibility="visible";
            input.style.visibility="visible";
            inputms.style.visibility="visible";
            select.style.visibility="visible";
            button.innerHTML="<";
        } else {
            input.style.visibility="hidden";
            inputms.style.visibility="hidden";
            select.style.visibility="hidden";
            dtp.style.visibility="visible";
            button.innerHTML=">";
            calculate(dtp);
        }
    });

    div.appendChild(button);
    div.appendChild(input);
    div.appendChild(inputms);
    div.appendChild(select);
    dtp.insertAdjacentElement("afterend",div) ;

    jQuery(input).datetimepicker({
        inline:false,
        format:'Y-m-d H:i:s',
        lang:'{{LANGUAGE_CODE}}',
    });
</script>
