{% load i18n %}

{% load static %}
<!-- Can receive show_book=1 to show author and book
     You can't use only tag
-->

<div class="MoneyObject">
    <img src="{% static 'images/valoration.svg' %}" height="125px" width="125px"/>

    <div class="objects">
            <p class="object"><strong>{% trans "Name" %}: </strong>{{ bank.name }}</p>
            <p class="object"><strong>{% trans "Active" %}: </strong>{{ bank.active }}</p>
            <p class="object"><strong>{% trans "Accounts balance" %}: </strong>{{ bank.balance }}</p>
    </div>
    <div class="buttons">   
        <a href="{% url 'bank_view' pk=bank.id %}">{% trans "View" %}</a>
        <a href="{% url 'bank_update' pk=bank.id %}">{% trans "Update" %}</a>
        <a href="{% url 'bank_delete' pk=bank.id %}">{% trans "Delete" %}</a>
    </div>
</div><!-- End div Book -->
