
{% load i18n %}
<!--    Receive url_string as the parameter of this template
        Can be used with only
        Parameters:
            - url_string Url where is going to be redirected after done button. To this url
              is going to be added /year/month/
-->

<script type="text/javascript">
    $(function() {
        $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) { 
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            newurl="{{url_string}}".concat(inst.selectedYear.toString()).concat("/").concat((inst.selectedMonth+1).toString());
            window.location.replace(newurl);
        }
        });
    });
</script>
<style>
.ui-datepicker-calendar {
    display: none;
}
</style>
  <label>{% trans "Select a year and a month" %}</label>
  <input name="startDate" id="startDate" class="date-picker" />
