{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Add a new account operation" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
     {% include "messages.html" %}

  <p class="orders">
    <a href="{% url 'account_view' pk=view.kwargs.accounts_id %}">{% trans "Show account" %}</a>
  </p>


  {{ view.table_accountoperations|safe }}
{% endblock %}