
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% blocktrans with account_name=account.name %} Account details of {{ account_name }}{% endblocktrans %}</h1>

  <h2>{% trans "Account operations" %}</h2>
  {% url 'account_view' account.id  as the_url %}
  {% include "objects/year_month.html" with url_string=the_url only %}
  <p></p>

  {{ table_accountoperations|safe }}
  <p></p>
  <p>
    <a href="{% url 'accountoperation_new' accounts_id=account.id %}">Add an account operation</a>
  </p>
  <h2>{% trans "Credit cards" %}</h2>
  {{ table_creditcards|safe }}
  <p></p>
  <p>
    <a href="{% url 'creditcard_new' accounts_id=account.id %}">Add a credit card</a>
  </p>
  
{% endblock %}
