
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% blocktrans with account_name=account.name %} Account details of {{ account_name }}{% endblocktrans %}</h1>

  <h2>{% trans "Account operations" %}</h2>
  <script type="text/javascript">
    $(function() {
        $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) { 
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            window.location.href = "{% url 'account_view' account.id %}".concat(inst.selectedYear.toString()).concat("/").concat((inst.selectedMonth+1).toString() ); 
        }
        });
    });
</script>
<style>
.ui-datepicker-calendar {
    display: none;
}
</style>
  <label>{% trans "Select a year and a month" %}</label>
  <input name="startDate" id="startDate" class="date-picker" />
  <p></p>

  {{ table_accountoperations|safe }}

  <p>
    <a href="{% url 'accountoperation_new' accounts_id=account.id %}">Add an account operation</a>
  </p>
  <h2>{% trans "Credit cards" %}</h2>
  {{ table_creditcards|safe }}
{% endblock %}
