
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% blocktrans with account_name=account.name %} Account details of {{ account_name }}{% endblocktrans %}</h1>

  {% url 'account_view' account.id  as the_url %}
  {% include "objects/year_month.html" with url_string=the_url only %}

  <p></p>
  <selector-yearmonth title="{% trans 'Select a year and a month' %}" year_start="2010" month_start="1" year_end="2023" month_end="12" year="2020" month="9" url="{% url 'account_view' account.id %}"></selector-yearmonth>
<p></p>
  <p></p>
  <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
  </script>
   
  <div id="tabs">
    <ul>
        <li><a href="#tabs-1">{% trans "Account operations" %}</a></li>
        <li><a href="#tabs-2">{% trans "Credit cards" %}</a></li>
    </ul>
   
  
  <div id="tabs-1">
    {{ table_accountoperations|safe }}

  <p class="orders">
    <a href="{% url 'accountoperation_new' accounts_id=account.id %}">Add an account operation</a>
  </p>
  </div>
  
  
  <div id="tabs-2">
    {{ table_creditcards|safe }}
    <p class="orders">
      <a href="{% url 'creditcard_new' accounts_id=account.id %}">Add a credit card</a>
    </p>
  </div>
  </div>

  
  
{% endblock %}
