{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Add a new account operation" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <script type="text/javascript">
           var dtp=document.getElementById('datetimepicker');
           dtp.addEventListener("click", function() { 
                var inputdt=document.createElement("input-datetime")
                dtp.insertAdjacentElement("afterend",inputdt) ;
                inputdt.addEventListener("changed",function(){
                    alert("CUSTOM");
                    dtp.value=inputdt.getValue();
                });
            });

        </script>
        <div id="dddddd" title="Basic dialog"></div>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    {% include "messages.html" %}

{% endblock %}