{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <center><img src='{% static "images/xulpymoney.png" %}' height="150px" width="150px"/>
        <h1> </h1>
        <h2> </h2>
    <p>{% trans "Wellcome to Django-Money, your personal accounting and financial system." %}</p></center>
    <h2>PAIRS</h2>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81753/81752/76/">Eurostoxx - Dax (2 %) 600-1800-3600-6000-9000</a></p>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81737/81752/77/">Ibex - Dax (4 %) 600-1800-3600-6000-9000</a></p>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81737/81744/84/">Ibex - SP500 (6 %) 900-2700-5400-9000-13500</a></p>
    <h2>{% trans 'Documentation' %}</h2>
    <p><a href="http://github.com/turulomio/xulpymoney/wiki/">Xulpymoney wiki</a></p>

<h1>{% trans 'Total chart' %}</h1>
    <ajax-button id="chart_total" url="{% url 'ajax_chart_total' 2020 %}" buttontext="{% trans 'Total chart' %}" csrf_token="{{csrf_token}}"></ajax-button>


{% endblock %}

