{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <h1> </h1>
    <center><img src='{% static "images/xulpymoney.png" %}' height="150px" width="150px"/>
        <h1> </h1>
        <h2> </h2>
    <p>{% trans "Wellcome to Django-Money, your personal accounting and financial system." %}</p>
    <h2>PAIRS</h2>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81753/81752/76/">Eurostoxx - Dax (2 %) 600-1800-3600-6000-9000</a></p>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81737/81752/77/">Ibex - Dax (4 %) 600-1800-3600-6000-9000</a></p>
    <p><a href="http://127.0.0.1:8000/es/investment/pairs/81737/81744/84/">Ibex - SP500 (6 %) 900-2700-5400-9000-13500</a></p>
</center>


{% endblock %}

