{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Investments list" %}</h1>


{% url 'investment_list_active' as url_unchecked %}
{% url 'investment_list_inactive' as url_checked %}
{% trans "Check to show inactive investments" as mylabel %}
{% include "objects/checkbox_selection.html" with label=mylabel url_checked=url_checked url_unchecked=url_unchecked %}    
<p></p>
{{table_investments|safe}}

<script>
var column = table.getColumn("percentage_sellingpoint");
for (var cell of column.getCells()) {
    if (cell.getValue()<5 && cell.getValue()>0){
        cell.getElement().style.backgroundColor='#92ffab';
        cell.getElement().style.backgroundRepeat= 'no-repeat';
        cell.getElement().style.backgroundImage="url('/static/images/xulpymoney.png')";
        cell.getElement().style.backgroundSize = "16px 16px";
    }
}
</script>
{% endblock %}

