
{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with investment=investment.name %}Investment details of '{{ investment }}'{% endblocktrans %}</h1>
<h2>{% trans "Investment operations" %}</h2>

<p><strong>Id: </strong>{{ investment.id }}</p>
<p><strong>Name: </strong>{{ investment.fullName }}</p>
<p><strong>Product Id: </strong>{{ investment.products.fullName }}</p>
<p><strong>Active: </strong>{{ investment.active }}</p>
<p><strong>Selling point: </strong>{{ investment.sellling_point }}</p>
<p><strong>Selling expiration: </strong>{{ investment.sellling_expiration }}</p>
<p><strong>Daily adjustment: </strong>{{ investment.daily_adjustment }}</p>


<p class="orders">
  <a href="{% url 'investment_update' pk=investment.id %}">Update this investment</a> | 
      <a href="{% url 'product_view' pk=investment.products.id %}">Show product</a>
</p>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-2">{% trans "Current investment operations" %}</a></li>
    <li><a href="#tabs-1">{% trans "Investment operations" %}</a></li>
    <li><a href="#tabs-3">{% trans "Historical investment operations" %}</a></li>
    <li><a href="#tabs-4">{% trans "Dividends" %}</a></li>
  </ul>
 

<div id="tabs-1">
    {{ table_io | safe }}
</div>


<div id="tabs-2">
{{ table_ioc | safe }}
</div>

<div id="tabs-3">
  {{ table_ioh |safe}}
</div>
<div id="tabs-4">
  {{ table_dividends |safe}}
</div>
</div>

  <p class="orders">
      <a href="{% url 'investmentoperation_new' investments_id=investment.id %}">Add an investment operation</a>
  </p>
{% endblock %}