{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Add a new investment operation" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    {% include "messages.html" %}
<p>
<p>
<label id="balance">Balance is ...</label>
<script>
/*    label=document.createElement("label");
    label.innerHTML="Hola";
    document.appendChild(label);
    const selectElement = document.querySelector('.nieve');

selectElement.addEventListener('change', (event) => {
    const resultado = document.querySelector('.resultado');
    resultado.textContent = `Te gusta el sabor ${event.target.value}`;
});*/
</script>

{% endblock %}