{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Investments list" %}</h1>


{% if active is True %}
<form class="active_selection" action="{% url 'investment_list_inactive' %}" method="post">{% csrf_token %}
<label>{% trans "Show inactive investments" %}</label>
{% else %} 
<form class="active_selection" action="{% url 'investment_list_active' %}" method="post">{% csrf_token %}
<label>{% trans "Show active investments" %}</label>
{% endif %}      
<input type="checkbox" id="chkActive" value="first_checkbox" onchange="this.form.submit();">
</form>
<p></p>

{{table_inv|safe}}
{% endblock %}

