
{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with investment=investment.name %}Investment details of '{{ investment }}'{% endblocktrans %}</h1>
<h2>{% trans "Investment operations" %}</h2>

<p><strong>{% trans 'Id' %}: </strong>{{ investment.id }}</p>
<p><strong>{% trans 'Name' %}: </strong>{{ investment.fullName }}</p>
<p><strong>{% trans 'Product Id' %}: </strong>{{ investment.products.fullName }}</p>
<p><strong>{% trans 'Active' %}: </strong>{{ investment.active }}</p>
<p><strong>{% trans 'Selling point' %}: </strong>{{ investment.selling_price }}
  {% if gains_at_selling_price %}
      . {% blocktrans with gains_at_selling_price=gains_at_selling_price.string %} to gain {{ gains_at_selling_price }}.{% endblocktrans %}
  {% endif %}</p>
<p><strong>{% trans 'Selling expiration' %}: </strong>{{ investment.selling_expiration }}
  {% if investment.selling_expiration_alert %}
      . <span class="red">{% trans 'You must set a new selling order.' %}</span>
  {% endif %}</p>
<p><strong>{% trans 'Daily adjustment' %}: </strong>{{ investment.daily_adjustment }}</p>
<p><strong>{% trans 'Currency' %}: </strong>{{ investment.products.currency }} ({{ investment.products.currency_symbol }})</p>


<p class="orders">
  <a href="{% url 'investment_update' pk=investment.id %}">Update this investment</a> | 
  <a href="{% url 'product_view' pk=investment.products.id %}">Show product</a> | 
  <a href="{% url 'quote_new' products_id=investment.products.id %}">Add a quote to product</a>
</p>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-2">{% trans "Current investment operations" %}</a></li>
    <li><a href="#tabs-1">{% trans "Investment operations" %}</a></li>
    <li><a href="#tabs-3">{% trans "Historical investment operations" %}</a></li>
    <li><a href="#tabs-4">{% trans "Dividends" %}</a></li>
  </ul>
 

  <div id="tabs-1">
      {{ table_io | safe }}
  </div>


  <div id="tabs-2">
  {{ table_ioc | safe }}
  </div>

  <div id="tabs-3">
    {{ table_ioh |safe}}
  </div>
  <div id="tabs-4">
    {{ table_dividends |safe}}
  </div>
</div>

  <p class="orders">
      <a href="{% url 'investmentoperation_new' investments_id=investment.id %}">{% trans "Add an investment operation" %}</a> | 
      <a href="{% url 'dividend_new' investments_id=investment.id %}">{% trans "Add a dividend" %}</a>
  </p>
{% endblock %}