{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Investments list" %}</h1>


{% url 'investment_list_active' as url_unchecked %}
{% url 'investment_list_inactive' as url_checked %}
{% trans "Check to show inactive investments" as mylabel %}
{% include "objects/checkbox_selection.html" with label=mylabel url_checked=url_checked url_unchecked=url_unchecked %}    
<p></p>
{{table_investments|safe}}

<script>
// Adding background color 
var column = table.getColumn("percentage_sellingpoint");
if (column !== false){//Only for active investments
    for (var cell of column.getCells()) {
        if (cell.getValue()<5 && cell.getValue()>0){
            cell.getElement().style.backgroundColor='#92ffab';
        } else if (cell.getValue()>100){
            cell.getElement().style.backgroundColor='#ff92ab';
        }
    }

    // Adding icon 
    for (var row of table.getRows()) {
        var dat=row.getData();
        var date = moment(dat.selling_expiration, "YYYY-MM-DD");
        if (date.isValid() && date< moment()){
            cell=row.getCell("percentage_sellingpoint");
            cell.getElement().style.backgroundRepeat= 'no-repeat';
            cell.getElement().style.backgroundPosition= '3px 3px';
            cell.getElement().style.backgroundImage="url('/static/images/alarm_clock.png')";
            cell.getElement().style.backgroundSize = "16px 16px";
        }
    }

    //Sorting
    table.setSort([
        {column:"gains", dir:"desc"}, //sort by this first
        {column:"percentage_sellingpoint", dir:"asc"}, //sort by this first
    ]);
} else {
    var col = table.getColumn("name");
    console.dir(col);

    col.headerFilter( "input"); //set header filter for name column to  "steve"
}
</script>

<p>{{foot}}</p>
{% endblock %}

