{% extends 'base_vue_all.html' %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Products search" %}</h1>
    <v-form ref="form" v-model="form_valid" lazy-validation action="{% url 'product_list_search' %}" method="GET">
<!--         <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"> -->
        <v-row>
        <v-text-field  name="search" v-model="search" label="{% trans 'Search products' %}"  placeholder="{% trans 'Enter a string' %}" autofocus></v-text-field>
        <v-btn color="error" @click="submit()" :disabled="form_valid==false">{% trans "Search" %}</v-btn>
        </v-row>
    <v-form>
<!--    <form class="search" id="searchform" action="{# url 'blog_search_list_view' #}" method="get" accept-charset="utf-8">
      <label>{% trans "Search a product:" %}</label>
      <input class="searchfield" id="searchbox"  class="form-control" name="search" type="text" value="{{search}}"  placeholder="{% trans "Search" %}">
      <button class="searchbutton" type="submit">{% trans "Search" %}</button>
    </form>-->
{% if search %}
    <h2>{% trans "Results" %}</h2>
    <v-card flat>
        <v-data-table dense :headers="tableHeaders" :items="tableData" sort-by="value" class="elevation-1" disable-pagination  hide-default-footer :sort-by="['value']" :sort-desc="[true]" fixed-header height="600">      
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="editProduct(item)">mdi-pencil</v-icon>
            </template>
        </v-data-table>   
    </v-card>
{% endif %}

<script>
    new Vue({
        ...common_vue_properties(),
        data:{
            form_valid: false,
            search:"{{ search }}",
            tableHeaders: [
                { text: 'Id', value: 'id',sortable: true },
                { text: 'Name', value: 'name',sortable: true},
                { text: 'ISIN',  sortable: true, value: 'isin'},
                { text: 'Last update',  sortable: true, value: 'last_datetime'},
                { text: 'Last quote', value: 'last', sortable: true },
                { text: 'Actions', value: 'actions', sortable: false },
            ],   
            tableData: {{table_products | safe}},
        },
        methods:{
            editProduct(item){
            },
            submit(){
                if (this.$refs.form.validate()==false) return
                if (this.search==""){
                    alert("{% trans 'You must enter a search string' %}")
                    return
                }
                this.$refs.form.$el.submit()
            }
        },
    })
</script>

{% endblock %}

