{% extends 'base_vue.html' %}
{% load i18n %}

{% block content %}
<div id="app">
    <v-app>
        <h1>{% trans "Products comparation" %}</h1>
        <v-card class="padding">
            <v-card-title>{% trans "Select two products" %}</v-card-title>
            <v-card-subtitle>{% trans "Put in first place the one with better behaviour" %}</v-card-subtitle>
            <autocompleteapi-idname label="{% trans 'Select product A' %}"  url="{% url 'product_search' %}" v-model="product_a"></autocompleteapi-idname>
            <autocompleteapi-idname label="{% trans 'Select product B' %}"  url="{% url 'product_search' %}" v-model="product_b"></autocompleteapi-idname>
            <v-card-actions>
                <v-btn color="primary" @click="change" :disabled="(product_a==null || product_b==null)">{% trans 'Switch' %}</v-btn>
                <v-btn color="primary" @click="pairReport" :disabled="(product_a==null || product_b==null)">{% trans 'Pair report' %}</v-btn>
            </v-card-actions>
        </v-card>
    </v-app>
</div>
<script>
    Vue.config.devtools = true
    new Vue({
        ...common_vue_properties(),
        data:{
            product_a: localStorage.product_a || null,
            product_b: localStorage.product_b || null,
            
        },
        methods:{
            pairReport(){
                localStorage.product_a=this.product_a
                localStorage.product_b=this.product_b
                window.location.replace("{% url 'products_pairs' 1111 2222%}".replace('1111', this.product_b).replace("2222", this.product_a))
            },
            change(){
                var tmp=this.product_a
                this.product_a=this.product_b
                this.product_b=tmp
            }
        },
        computed:{
        
        },
    })
</script>
{% endblock %}
