{% extends "base.html" %}


{% load i18n %}

{% block content %}
<h1>{% trans "Total report" %}</h1>

<selector-year title="{% trans 'Select a year' %}" year_start="{{ year_start }}" year_end="{{ year_end }}" year="{{ year }}" url="{% url 'report_total' %}"></selector-year>
<p></p>
<p>Last year balance ({{last_year|date:"Y-m-d"}}) is {{ str_last_year_balance }}</p>

{{table_report_total|safe}}
<p>
</p>

<ajax-button id="ajax_button_income" url="{% url 'ajax_report_total_income' year %}" buttontext="{% trans 'Get income report' %}" csrf_token="{{csrf_token}}"></ajax-button>

<h1>{% trans 'Show gains by product type' %}</h1>

<ajax-button id="ajax_button_gains_by_product_type" url="{% url 'ajax_report_gains_by_product_type' year %}" buttontext="{% trans 'Gains by product type report' %}" csrf_token="{{csrf_token}}"></ajax-button>

{% endblock %}

