{% extends "base.html" %}


{% load i18n %}

{% block content %}
<h1>{% trans "Total report" %}</h1>

<selector-year title="{% trans 'Select a year' %}" year_start="{{ year_start }}" year_end="{{ year_end }}" year="{{ year }}" url="{% url 'report_total' %}"></selector-year>
<p></p>
<p>Last year balance ({{last_year|date:"Y-m-d"}}) is {{ str_last_year_balance }}</p>

{{table_report_total|safe}}
<p>
</p>



<form class="normal" method="post" id="form_income">{% csrf_token %}
<button id="button_income" type="submit">{% trans "Get income report" %}</button>
</form>

<div id="income"></div>
<script>
$(document).ready(function() {
  $("#button_income").click(function(e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'ajax_report_total_income' year %}",
      data: {
            csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function(result) {
        $("#income").html(result);    
        $("#form_income").css("display", "none");

      },
      error: function(result) {
        $("#income").html('<p>{% trans "Somethng is wrong" %}</p>');          
      }
    });
  });
});
</script>
{{table_report_total_income|safe}}
{% endblock %}

