{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans %}Derivatives report of year '{{ year }}'{% endblocktrans %}</h1>

<h2>{% trans "Table" %}</h2>

{{ldo_derivatives.tabulator.render | safe}}


<h2>{% trans "Historical values" %}</h2>
<!--        adjustments=AccountOperationManagerHeterogeneus_from_sql(self.mem, "select * from accountsoperations where concepts_id in (%s)", (eConcept.DerivativesAdjustment, ))
        guarantees=AccountOperationManagerHeterogeneus_from_sql(self.mem, "select * from accountsoperations where concepts_id in (%s)", (eConcept.DerivativesGuarantee, ))
        commissions=AccountOperationManagerHeterogeneus_from_sql(self.mem, "select * from accountsoperations where concepts_id in (%s)", (eConcept.DerivativesCommission, ))
        rollover=AccountOperationManagerHeterogeneus_from_sql(self.mem, "select * from accountsoperations where concepts_id in (%s)", (eConcept.RolloverPaid, ))
        iohhm=self.InvestmentOperationHistoricalHeterogeneusManager_derivatives()
        iochm=self.InvestmentOperationCurrentHeterogeneusManager_derivatives()-->
    <ul>
        <li>{% trans "Total adjustments" %}: {{c_adjustments}}</li>
        <li>{% trans "Total guarantees" %}: {{c_guarantees}}</li>
        <li>{% trans "Total commissions" %}: {{c_commissions}}</li>
<!--        s=s+"Total ajustes {}\n".format(adjustments.balance())
        s=s+"Total garantías: {}\n".format(guarantees.balance())
        s=s+"Total comisiones: {}\n".format(commissions.balance())
        s=s+"Total operaciones históricas: {}\n".format(iohhm.consolidado_bruto())
        s=s+"Total operaciones actuales: {}\n".format(iochm.pendiente())
        s=s+"Total rollover paid: {}\n".format(rollover.balance())
        s=s+"Comisiones actuales e históricas: {} + {} = {}\n".format(iochm.commissions(), iohhm.commissions(), iohhm.commissions()+iochm.commissions())
        s=s+"Resultado=OpHist+OpActu-Comisiones-Rollover= {} + {} + {} + {} = {}".format(iohhm.consolidado_bruto(), iochm.pendiente(), commissions.balance(), rollover.balance(), iohhm.consolidado_bruto()+iochm.pendiente()+commissions.balance()+rollover.balance())-->


{% endblock %}
