
{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with strategy=strategy.name %}Strategy details of '{{ strategy }}'{% endblocktrans %}</h1>
<h2>{% trans "Information" %}</h2>

<p><strong>{% trans 'Name' %}: </strong>{{ strategy.name }}</p>
<p><strong>{% trans 'From' %}: </strong>{{ strategy.dt_from }}</p>
<p><strong>{% trans 'To' %}: </strong>{{ strategy.dt_to }}</p>
<p><strong>{% trans 'Investments' %}: </strong>{{ strategy.investments }}</p>

<p><strong>{% trans 'Comment' %}: </strong>{{ strategy.comment }}</p>
<p><strong>{% trans 'Types' %}: </strong>{{ strategy.get_type_display }}</p>

<p>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-2">{% trans "Current investment operations" %}</a></li>
    <li><a href="#tabs-1">{% trans "Investment operations" %}</a></li>
    <li><a href="#tabs-3">{% trans "Historical investment operations" %}</a></li>
    <li><a href="#tabs-4">{% trans "Dividends" %}</a></li>
  </ul>



  <div id="tabs-2">
  {{ current.tabulator.render| safe }}
  </div>
  <div id="tabs-1">
  {{ ops.tabulator.render| safe }}
  </div>

  <div id="tabs-3">
    {{ historical.tabulator.render |safe}}
  </div>
  <div id="tabs-4">
    {{ qso_dividends.tabulator.render |safe}}
  </div>
</div>

<p class="orders">
    <a href="{% url 'strategy_update' pk=strategy.pk %}">{% trans "Update this strategy" %}</a>
    {% if strategy.type != 0 %}
         | <a href="{{ strategy.url_details }}">{% trans "Show detailed report" %}</a>
    {% endif %}</p>
</p>
{% endblock %}
